/* 设置页面样式 */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* 设置 Phaser 容器样式 */
#phaser-example {
    width: 320;
    height: 320;
}