/* 设置页面样式 */
body {
    margin: 0; /* 修正错误，设置为 0 */
    padding: 0; /* 修正错误，设置为 0 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 设置高度为视口高度 */
    background-color: #f0f0f0;
}

/* 设置 example 容器样式 */
#sketch-holder {
    width: 640px;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}